@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log In";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <h4>Select a service to log in with.</h4>
    <hr />
    @{
        var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="center">
                @foreach (var provider in loginProviders)
                {
                    <button type="submit" class="waves-effect waves-light btn btn-large orange darken-3" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                }
            </div>
        </form>
    }
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
