@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log into Nakama Network";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <h4>Select a service to log in with.</h4>
    <hr />
    @{
        var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="_width100 _alignCenter">
            @foreach (var provider in loginProviders)
            {
                <button type="submit" class="button _primary _large" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
            }
        </form>
    }
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
